// --------------------------------------
// Body
// --------------------------------------
body {
  background-color: $primarycolor--lightest;
}

// --------------------------------------
// Hero & title
// --------------------------------------
.logo {
  display: block;
}

.hero {
  @include padding (1,1,0,1);
  background-color: $primarycolor;
  color: $whitecolor;
  text-align: center;
  p {
    @include margin-top (1.5);
    @extend .lead;
    color: scale-saturation(scale-lightness($primarycolor, 60%), -40%);
  }
  @include breakpoint(lap) {
    @include padding-top(1.5);
    @include top(2.6);
    position: fixed;
    height: 29.1em;
  }
}

.pageTitle {
  display: block;
  text-align: center;
  color: $primarycolor;
  @include margin-bottom(1);
  @include breakpoint(lap) {
    @include padding-top(2.6);
  }
}

// --------------------------------------
// Wrapper
// --------------------------------------
.wrapper {
  position: relative;
  background-color: $primarycolor--lightest;
}

.wrapperLong {
  @include breakpoint(lap) {
    @include top(22);
  }
  @include bp(74em) {
    @include top(20);
  }
}

// --------------------------------------
// Article
// --------------------------------------
.article {
  background-color: $whitecolor;
  @include margin-bottom(1);
}

.articleContent {
  @include padding-lr(1);
  @include padding-top(2);
}
