// $Subpages
.subpages {
  p {
    margin-bottom: 0;
  }
}

// $Sitemap
.sitemap {
  ul {
    font-weight: 700;
    ul {
      font-style: italic;
      font-weight: 500;
      margin-bottom: 0;
    }
    ul li {
      margin-bottom: 0;
    }
  }
  a {
    font-family: $sans;
    font-style: normal;
    @extend .textlink;
    @extend .textlinkBorder;
  }
  li:before {
    .warm & {
      color: $warmcolor;
    }
    .cold & {
      color: $coldcolor;
    }
    .neutral & {
      color: $neutralcolor;
    }
  }
}
