// Search
.search {
  @include margin-tb(2,0.5);
  text-align: center;
  input[type="text"] {
    width: 70%;
    @include adjust-fontsize(16, 18);
    font-family: $sans;
    font-style: italic;
    color: $darkcolor;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid scale-lightness($mediumcolor, 30%);
    .warm & {
      background-color: $warmcolor--lightest;
    }
    .cold & {
      background-color: $coldcolor--lightest;
    }
    .neutral & {
      background-color: $neutralcolor--lightest;
    }
    outline: none;
    &:focus {
      outline: none;
      border-bottom: 1px solid $mediumcolor;
    }
  }
  input[type="submit"] {
    @extend .btn;
    @extend .btnSearch;
  }
}

.searchAgain {
  @extend .search;
  @include margin-tb(1,3);
}

.searchResult {
  display: block;
  @include padding-lr(1);
  h1 {
    @include margin-top(0.5);
  }
  p {
    @include margin-bottom(1.3);
  }
}

.ui-autocomplete {
  border: none;
  li:before {
    content:"";
  }
  a {
    cursor: pointer;
  }
  #ui-active-menuitem {
    text-shadow: none;
    border: 1px solid $whitecolor;
    .warm & {
      background-color: $warmcolor;
    }
    .cold & {
      background-color: $coldcolor;
    }
    .neutral & {
      background-color: $neutralcolor;
    }
  }
}
