// Summary
.summary, .faq {
  margin-bottom: $base*4;
  border: 1px solid $whitecolor;
  background-color: $whitecolor;
  @include transition(box-shadow 0.3s ease-in-out);
  &:hover, &:focus {
    @include box-shadow(0px 0px 18px scale-lightness($mediumcolor, 70%));
    h1 {
      color: $primarycolor;
    }
  }
}

.summaryContent {
  display: block;
  @include breakpoint(lap) {
    height: 35em;
    overflow: hidden;
  }
  @include breakpoint(desk) {
    height: 38em;
    overflow: hidden;
  }
}

.summaryContentImage, .articleImageMain, .articleImageMainAlt {
  width: 100%;
}

.summaryContentText {
  padding: $base*5;
  h1 {
    @include transition(color 0.3s ease-in-out);
    color: $darkcolor;
  }
  h4 {
    color: $mediumcolor;
    font-weight: 500;
  }
  p {
      margin-top: $base*4;
      color: $darkcolor;
  }
  .month, .year {
    &:before {
      content: "/";
      position: relative;
      left: -2px;
      bottom: 1px;
      color: scale-lightness($mediumcolor, 50%);
    }
  }
}

.summaryFooter {
  padding: $base*5;
}

// Article
.articleMeta {
  padding: $base*3 $base*3 0 $base*3 ;
  @include breakpoint(palm) {
    padding: $base*5 $base*5 0 $base*5 ;
  }
}

.articleFooter {
  padding: $base*3;
  @include breakpoint(palm) {
    padding: $base*5;
  }
}

.footerTags, .metaTags {
  padding-top: $base*1;
  margin-top: $base*1;
  border-top: 1px solid $lightcolor;
}

.headerCategory {
  li {
    display: inline;
  }
}

.article {
  background-color: $whitecolor;
  @include space-after(3);
  padding-bottom: $base*5;
}

.articleImageMainAlt {
  position: relative;
  top: -58px;
  margin-bottom: -58px;
}

.articleHeader, .blogHeader {
  padding: $base*6 $base*5 $base*2 $base*5;
  h2 {
    margin-bottom: $base*5;
  }
  h4, .h4 {
    margin-top: $base*5;
    color: $primarycolor--light;
    font-weight: 500;
  }
}

.articleHeaderAlt {
  padding: $base*5 $base*3 $base $base*3;
  h1 {
    margin-bottom: $base;
    color: $primarycolor;
  }
  h4, .h4 {
    color: $mediumcolor;
    font-weight: 500;
  }
  @include breakpoint(palm) {
    padding: $base*7 $base*5 $base $base*5;
  }
}

.articleContent {
  padding: $base*3;
  h2, h3, h4, h5, h6 {
    color: $primarycolor;
    @include filling-after(2);
    @include space-after(3);
    @include space-before(10);
    border-bottom: 1px solid $lightcolor;
  }
  p, ul {
    color: $darkcolor;
  }
  li {
    list-style: none;
    padding-left: $base*2;
    @include space(3);
    font-style: italic;
    &:before {
      content: "•";
      @include font-size(14px, 24px);
      position: relative;
      left: -$base*2;
      color: $mediumcolor;
    }
  }
  @include breakpoint(palm) {
    padding: $base*5;
  }
}

//Pagenumbers & More
.pagenumbers, .more {
  @include space-before(5);
  @include space-after(10);
  text-align: center;
  li {
    list-style: none;
  }
}

// Comments
.comments {
  background-color: $whitecolor;
}

.commentsForm {
  background-color: $primarycolor;
  h3 {
    color: $whitecolor;
    @include filling-after(2);
    @include space-after(3);
    border-bottom: 1px solid scale-lightness($primarycolor, 25%);
  }
  p {
    color: $primarycolor--lightest;
  }
  abbr {
    color: $whitecolor;
    border-bottom: none;
  }
}

.comment {
  color: $mediumcolor;
  @include filling-before(3);
  @include space-before(3);
  border-top: 1px solid $lightcolor;
  h4 {
    @include space-after(1);
  }
  &:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
}

.comments, .commentsForm {
  @include space-before(6);
  padding: $base*5;
}

.commentsLabel {
  display: block;
  @include space-before(5);
  @include space-after(1);
}


