// Chromeframe
.chromeframe {
  background-color: $whitecolor;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 24px;
  display: block;
}

// Header and nav
.header {
  position: relative;
  z-index: 100;
  background-color: rgba($whitecolor, 0.9);
  text-align: center;
  border-bottom: 1px solid $primarycolor--lightest;
  @include breakpoint(lap) {
    position: fixed;
  }
}

.mainNav {
  @include transition(max-height 0.3s ease-in-out);
  ul {
    @include clearfix;
  }
  li {
    list-style: none;
    color: $mediumcolor;
    &.selected {
      color: $primarycolor;
      font-weight: 700;
      background-color: $whitecolor;
    }
  }
  a {
    font-family: $sec-font;
    padding: $base*2+1px; //Remove magic number!!!!!
    display: block;
    border-top: 1px solid $lightestcolor;
    @include breakpoint(lap) {
      margin-right: $base;
      margin-left: $base;
      border: none;
    }
    &:hover, &:focus {
      color: $primarycolor;
    }
  }
}


.mainNavItem {

}

.js .mainNav[role=navigation] {
  overflow: hidden;
  max-height: 0;
  @include breakpoint(lap) {
    max-height: none;
  }
}

.toggleMainNav {
  display: block;
  font-weight: 700;
  @include breakpoint(lap) {
    display: none;
  }
}


.mainNav[role=navigation].isExpanded {
  max-height: 20em;
}

.mainNav[role=navigation]  li {
  @include breakpoint(lap) {
    display: inline-block;
  }
}

// Hero
.hero {
  position: relative;
  height: 100%;
  padding: $base*5 $base*4 $base*3 $base*4;
  background-color: $primarycolor;
  color: $whitecolor;
  text-align: center;
  @include breakpoint(lap) {
    top: $base*10;
    position: fixed;
    padding: $base*5 $base*8;
  }
}

.heroBlurb {
  padding-top: $base*5;
  .lead {
    color: scale-lightness($primarycolor, 80%);
  }
}

// Wrapper for disappearing header effect
.wrapper {
  position: relative;
  z-index: 10;
  background-color: $primarycolor--lightest;
  @include breakpoint(lap) {
    top: $base*10;
  }
}

.wrapperShort {
  @include breakpoint(lap) {
    top: $base*49;
  }
}

.wrapperMedium {
  @include breakpoint(lap) {
    top: $base*56;
  }
}

.wrapperLong {
  @include breakpoint(lap) {
    top: $base*84;
  }
}

