// --------------------------------------
// Buttons
// --------------------------------------
.textlink {
  color: $primarycolor;
  &:hover, &:focus {
    color: $primarycolor--dark;
  }
}

.textlinkBorder {
  &:hover, &:focus {
    border-bottom: 1px dotted $primarycolor--light;
  }
}

.btn {
  font-family: $sec-font;
  color: $mediumcolor;
  padding: $base*2+1px; //Remove magic number!!!!!
  @include breakpoint(lap) {
    margin-right: $base;
    margin-left: $base;
  }
  &:hover, &:focus {
    color: $primarycolor;
  }
  .selected & {
    color: $primarycolor;
    font-weight: 700;
    background-color: $whitecolor;
  }
}

.btnNumber, .btnMore {
  padding: $base*2 $base*4;
  background-color: $primarycolor;
  color: $whitecolor;
  @include transition(background-color 0.3s ease-in-out);
  &:hover, &:focus {
    color: $primarycolor--lightest;
    background-color: $primarycolor--dark;
  }
}


input.searchField {
  @extend h4;
  color: $darkcolor;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid scale-lightness($mediumcolor, 30%);
  background-color: $primarycolor--lightest;
  outline: none;
  &:focus {
    outline: none;
    border-bottom: 1px solid $mediumcolor;
  }
}
input.btnSearch {
  -webkit-appearance: none;
  border: none;
  background-color: rgba($lightestcolor,0);
}

input.inputSubmit {
  @include space-before(5);
  font-family: $sec-font;
  color: $primarycolor;
  padding: $base*2;
  border: none;
  border-radius: 0;
  background-color: $whitecolor;
  &:hover, &:focus {
    color: $primarycolor--dark;
  }
}

input.inputSubmitNeg {
  @include space-before(5);
  font-family: $sec-font;
  color: $whitecolor;
  padding: $base*2;
  border: none;
  border-radius: 0;
  background-color: $primarycolor;
  @include transition(background-color 0.3s ease-in-out);
  &:hover, &:focus {
    color: $primarycolor--lightest;
    background-color: $primarycolor--dark;
  }
}

input.searchField {
  width: 70%;
}

input.inputText, textarea {
  width: 100%;
  @include font-size(16px, 24px);
  font-family: $sec-font;
  color: $darkcolor;
  border: none;
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid $lightestcolor;
  padding: $base;
  outline: none;
  &:focus {
    outline: none;
    border-bottom: 1px solid $lightcolor;
  }
  &::-webkit-input-placeholder {
    font-style: italic;
  }
  &:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
  }
  &:-ms-input-placeholder {
    font-style: italic;
  }
}

.meta {
  display: inline;
}

.tag {
  display: inline;
  color: $mediumcolor;
  &:hover, &:focus {
    color: $darkcolor;
  }
}

.category {
  padding: $base/2 $base;
  margin: 2px;
  border-radius: $base/2;
  background-color: scale-lightness($primarycolor, -5%);
  display: inline;
  color: $primarycolor--light;
  @include transition(background-color 0.3s ease-in-out);
  &:hover, &:focus {
    color: $whitecolor;
    background-color: scale-lightness($primarycolor, -5%);
  }
  .isActive & {
    font-weight: 700;
    color: $primarycolor--lightest;
    background-color: scale-lightness($primarycolor, -8%);
  }
}
