// --------------------------------------
// Ornaments
// --------------------------------------
// Logo
.monogram {
  display: block;
  font-size: 34px;
  width: 120px;
  height: 100px;
  position: relative;
  line-height: 100px;
  // font-style: italic;
  margin: 0 auto $base*2 auto;
  &:after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid $primarycolor--light;
    @include rotate(45deg);
    position: relative;
    top: -80px;
  }
}

.monogramSmall {
  cursor: default;
  position: absolute;
  top: -29px;
  font-family: $primarycolor-font;
  font-weight: 700;
  color: $whitecolor;
  display: block;
  width: 60px;
  height: 58px;
  letter-spacing: 400px;
  position: relative;
  text-indent: 12px;
  line-height: 30px;
  font-style: italic;
  overflow: hidden;
  margin: 0 auto;
  z-index: 10000;
  @include transition(color 0.3s ease-in-out);
  @include breakpoint(lap) {
    top: -28px;
  }
  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: $primarycolor;
    @include rotate(45deg);
    position: relative;
    z-index: -5;
    top: -30px;
    left: 3px;
  }
  &:hover, &:focus {
    &:after {
      background-color: $whitecolor;
    }
  }
}

.logotype {
  font-family: $sec-font;
  border-bottom: 1px solid scale-lightness($primarycolor, 50%);
  margin-bottom: $base*4;
}

.underline {
  display: inline-block;
  border-bottom: 1px solid scale-lightness($primarycolor, 50%);
}

.inlineImage {
  @include space(6);
  border: 1px solid $lightcolor;
}
