// --------------------------------------
// Margin and padding reset
// --------------------------------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

// --------------------------------------
// Box model
// --------------------------------------
* {
  @include box-sizing(border-box);
}

// --------------------------------------
// Images
// --------------------------------------
// Image alt text styling
// Display as block (removes space below)
// Fluid
img {
  font-style: italic;
  display: block;
  max-width: 100%;
}

// --------------------------------------
// Typography
// --------------------------------------
// Main
html {
  font:#{($base-font-size/16px)*1em}/#{($base-line-height/16px)*1em} $primarycolor-font;
}

// Massive type, titles, etc.
// .giga{
//   @include font-size(89px, 100px);

// }

// .mega{
//   @include font-size(68px);
// }

// .kilo{
//   @include font-size(55px);
// }

// Headings
h1,.h1 {
  @include font-size(28px, 36px);
  @include breakpoint(palm) {
    @include font-size(34px, 42px);
  }
}

h2,.h2 {
  @include font-size(24px, 30px);
  font-family: $sec-font;
  @include breakpoint(palm) {
    @include font-size(26px, 36px);
  }
}

h3,.h3 {
  @include font-size(18px);
  font-family: $sec-font;
  @include breakpoint(palm) {
    @include font-size(21px);
  }
}

h4,.h4 {
  @include font-size(15px, 24px);
  font-family: $sec-font;
  @include breakpoint(palm) {
    @include font-size(16px, 24px);
  }
}

h5,.h5 {
  @include font-size(12px, 18px);
  font-family: $sec-font;
  @include breakpoint(palm) {
    @include font-size(14px, 24px);
  }
}

h6,.h6 {
  @include font-size(12px, 18px);
  @include breakpoint(palm) {
    @include font-size(14px, 24px);
  }
}

// Paragraphs
p {
  @include font-size(16px);
  @include breakpoint(palm) {
    @include font-size(18px);
  }
}

.lead {
  @include font-size(18px, 30px);
  margin-top: $base*2;
  margin-bottom: $base*4;
  @include breakpoint(palm) {
    @include font-size(21px, 36px);
  }
}

// Small type
small,.small {
  @include font-size(14px, 24px);
  font-style: italic;
}

// Links
a {
  text-decoration: none;
  color: inherit;
}
