.row {
  width: 100%;
  @include clearfix;
}

.full {
  @include column(12);
}

.centered {
  @include column(12);
  @include breakpoint(lap) {
    @include column(10);
    @include push(1);
  }
  @include breakpoint(desk) {
    @include column(8);
    @include push(2);
  }
  .lt-ie9 & {
    @include column(8);
    @include push(2);
  }
}

.indent {
  @include column(10);
  @include push(1);
  @include breakpoint(lap) {
    @include column(6);
    @include push(3);
  }
  .lt-ie9 & {
    @include column(6);
    @include push(3);
  }
}

.half {
  @include column(12);
  @include breakpoint(lap) {
    @include column(6);
  }
  .lt-ie9 & {
    @include column(6);
  }
}

.six {
  @include column(12);
  @include breakpoint(lap) {
    @include column(4);
  }
  .lt-ie9 & {
    @include column(4);
  }
}

.two {
  @include column(12);
  @include breakpoint(lap) {
    @include column(2);
  }
  .lt-ie9 & {
    @include column(2);
  }
}

.block {
  @include column(12);
  @include breakpoint(lap) {
    @include column(6);
  }
  @include breakpoint(desk) {
    @include column(4);
  }
  .lt-ie9 & {
    @include column(4);
  }
}

.left {
  float: none;
  text-align: center;
  @include breakpoint(lap) {
    float: left;;
  }
  .lt-ie9 & {
    float: left;;
  }
}
.right {
  float: none;
  text-align: center;
  @include breakpoint(lap) {
    float: right;;
  }
  .lt-ie9 & {
    float: right;;
  }
}
