// --------------------------------------
// Colours
// --------------------------------------
$darkcolor: #4b4b53;
$mediumcolor: scale-lightness($darkcolor, 40%);
$lightcolor: scale-lightness($darkcolor, 90%);
$lightestcolor: scale-lightness($darkcolor, 97%);
$whitecolor: #fff;

$yellow: #f7a900;
$red: #ff5c51;
$blue: #1339f6;
$green: #34ba80;
$night: #383d52;
$faded: #b7b197;

$primarycolor: $red;
$primarycolor--dark: scale-saturation(scale-lightness($primarycolor, -15%), -15%);
$primarycolor--light: scale-lightness($primarycolor, 70%);;
$primarycolor--lightest: scale-saturation(scale-lightness($primarycolor, 90%), -80%);

// --------------------------------------
// Typography
// --------------------------------------
$base: 6px;
$base-font-size: 18px;
$base-line-height: 30px;
$primarycolor-font: "DroidSerif", georgia, serif;
$sec-font: "PTSans", arial, sans-serif;

// --------------------------------------
// Responsive
// --------------------------------------

$palm: 30em;
$lap: 48.75em;
$desk: 64em;
